# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FSharpWithPlugins.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Repos\FSharpWithPlugins\.idea\.idea.FSharpWithPlugins\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
